* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat;
}

.section {
    width: 100vw;
    height: 100vh;
    background-color: #141B1C;
    display: flex;
    margin: auto;
    color: #fff;
}
.all-card {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.price-card {
    width: 380px;
    height: 770px;
    background-color: #334247;
    overflow: hidden;
    position: relative;

        &_ribbon {
        position: absolute;
        background-color: #DC3F45;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        transform: rotate(45deg);
        z-index: 1;
        height: 25px;
        width: 147px;
        text-align: center;
        margin: auto;
        left: 70%;
        top: 30px;
        display: flex;

            &-text {
                margin: auto;
            }
        }

        &:nth-child(1) {
            margin-right: 18px;
        }
        &:nth-child(2) {
            margin-right: 18px;
        }

        &__title {
            height: 132px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

                &-name {
                    font-size: 35px;
                    line-height: 43px;
                    font-weight: 700;
                    margin: 0;
                }
                &-text {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 24px;
                }
        }

        &__price {
            height: 105px;
            background-color: #5BB189;
            font-weight: 700;
            font-size: 55px;
            line-height: 67px;
            display: flex;
            align-items: center;
            justify-content: center;

                &-one {
                    background-color: #5BB189;
                }
                &-two {
                    background-color: #3A6BA5;
                }
                &-three {
                    background-color: #EC632A;
                }
        }

        &__description {
            height: 116px;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            padding-left: 26px;
            padding-right: 26px;
            text-align: center;
            margin: 0;
        }

        &__options-list {
            margin-bottom: 39px;

                &-item {
                    padding-left: 22px;
                    height: 50px;
                    line-height: 50px;

                        &:nth-child(odd) {
                            background-color: #2A3438;
                        }

                        &-text {
                            padding-top: 2px;
                            padding-bottom: 3px;
                            margin-left: 22px;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 18px;
                            margin-left: 22px;
                        }
                }
        }

        &__order-btn {
            height: 40px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            margin-left: 112px;
            text-transform: uppercase;
            border: none;
            border-radius: 20px;
            color: white;
            padding: 11px 30px 12px 30px;

                &-one {
                    background-color: #5BB189;
                }
                &-two {
                    background-color: #3A6BA5;
                }
                &-three {
                    background-color: #EC632A;
                }
        }
}
